<div class="blog-card-wrapper">
  <div class="blog-card">
    <div class="blog-card_image">
      <img src="assets/Image.svg" alt="blog-card-image" />
    </div>
    <div class="blog-card_chips">
      <button class="chip">Interior</button>
    </div>
    <div class="blog-card_header">
      <p>Top 5 Living Room Inspirations</p>
    </div>
    <div class="blog-card_description">
      <p>
        Curated vibrant colors for your living room, making it pop & calm at the same time.
      </p>
    </div>
    <div class="blog-card_read-more">
      <a href="https://example.com" class="blog-card_read-more-button">
        Read More
        <img
          class="arrow-right-line"
          src="assets/arrow-right-line.png"
          alt="arrow"
        />
      </a>
    </div>
  </div>
</div>
