* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.blog-card-wrapper {
  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .blog-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 340px;
  }
  .blog-card_image img {
    object-fit: cover;
  }
  .blog-card_chips {
    .chip {
      background-color: #f0fdf4;
      border: 1px solid #bbf7d0;
      color: #15803d;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 10px 20px;
    }
  }
  .blog-card_header {
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 20px;
    font-weight: 550;
  }
  .blog-card_description {
    font-size: 14px;
    font-family: sans-serif;
    padding: 10px 20px;
    font-weight: 400;
    color: #525252;
  }
  .blog-card_read-more-button {
    font-size: 14px;
    font-family: sans-serif;
    padding: 10px 20px;
    font-weight: 400;
    color: #4338ca;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .arrow-right-line {
    margin-left: 8px;
    width: 16px;
    height: auto;
  }
}
